<div class="container">
    <div class="row">

        <div class="col-sm-8 offset-sm-2">
            <h2>Transaction Password</h2>
    <form [formGroup]="TransactionPasswordForm" class="form-group" (ngSubmit)="submitInfo()">
        <div>
            <label for="AccountNumber">Account Number</label>
            <input type="number" name="AccountNumber" id="AccountNumber" class="form-control" formControlName="AccountNumber">
        </div>
        <div *ngIf="TransactionPasswordForm.controls['AccountNumber'].invalid && (TransactionPasswordForm.controls['AccountNumber'].dirty || TransactionPasswordForm.controls['AccountNumber'].touched)" class="alert">
            <div *ngIf="TransactionPasswordForm.controls['AccountNumber'].errors!.required">
            Please enter Account Number
          </div>
          </div>

         <div>
            <label for="TransactionPassword"> Set Transaction Password</label>
            <input type="text" name="TransactionPassword" id="TransactionPassword" class="form-control" formControlName="TransactionPassword">
        </div>
        <div *ngIf="TransactionPasswordForm.controls['TransactionPassword'].invalid && (TransactionPasswordForm.controls['TransactionPassword'].dirty || TransactionPasswordForm.controls['TransactionPassword'].touched)" class="alert">
            <div *ngIf="TransactionPasswordForm.controls['TransactionPassword'].errors!.required">
            Please enter Transaction Password
          </div>
          <div *ngIf="TransactionPasswordForm.controls['TransactionPassword'].errors!.pattern">
           <ul>
           <li> must be eight characters or longer </li>
           <li> must contain at least 1 lowercase</li>
           <li> must contain at least 1 uppercase</li>
            <li> contain at least 1 special character</li>
        </ul>
          </div>
        </div>
        <div>
            <label for="confirmTransactionPassword">Confirm Transaction Password</label>
            <input type="text" name="confirmTransactionPassword" id="confirmTransactionPassword" class="form-control" formControlName="confirmTransactionPassword">
        </div>
        <div *ngIf="TransactionPasswordForm.controls['confirmTransactionPassword'].invalid && (TransactionPasswordForm.controls['confirmTransactionPassword'].dirty || TransactionPasswordForm.controls['confirmTransactionPassword'].touched)" class="alert">
            <div *ngIf="TransactionPasswordForm.controls['confirmTransactionPassword'].errors">

            Please confirm Transaction Password
          </div>
        </div>
        <div>
            <label for="OTP">OTP</label>
            <input type="text" name="OTP" id="OTP" class="form-control" formControlName="OTP">
        </div>
        <div *ngIf="TransactionPasswordForm.controls['OTP'].invalid && (TransactionPasswordForm.controls['OTP'].dirty || TransactionPasswordForm.controls['OTP'].touched)" class="alert">
            <div *ngIf="TransactionPasswordForm.controls['OTP'].errors!.required">
            Please enter OTP
            </div>
            <div *ngIf="TransactionPasswordForm.controls['OTP'].errors!.minlength">
                Please enter 6 digits
                </div>
        </div>
        <div>
            <button (click)="submitInfo()">
            <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!TransactionPasswordForm.valid"/></button>
        </div>
    </form>
    </div>
    </div>

</div>