<!-- <h2 style="text-align:center;">Funds Transfer</h2> -->
<!--<div class="row">
  <div class="column">
    <div class="card">
      <h4>IMPS Transfer</h4>
      <button (click)="IMPSTransfer()">IMPS Transfer</button>
      <p>Info about IMPS</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>RTGS Transfer</h4>
      <button (click)="RTGSTransfer()">RTGS Transfer</button>
      <p>info about RTGS</p>
    </div>
  </div> 
  <div class="column">
    <div class="card">
      <h4>NEFTTransfer</h4>
      <button (click)="NEFTTransfer()">NEFT Transfer</button>
      <p>info about NEFT</p>
    </div>
  </div>
</div>
-->

<section id="services" class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="mb-4">
            <h3><a href="/AddPayee" class="btn btn-danger">Add Benificiaries</a></h3>
            <!-- <h4><a href="/ViewBenificiaries" class="btn btn-danger">View Benificiaries</a></h4> -->
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class=" mb-4 ">
            
            <h3><a href="/ViewBenificiaries" class="btn btn-danger">View Benificiaries</a></h3>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="/IMPS">IMPS Transfer</a></h4>
            
            <p>Info about IMPS</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="/RTGS">RTGS Transfer</a></h4>
            
            <p>Info about RTGS</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="/NEFT">NEFT Transfer</a></h4>
            <p>Info about NEFT</p>
          </div>
        </div>

       
      </div>

    </div>
  </section>





