<html>  
   
    <body>  
        <div class="bg-white" id="lwhole">
            <h4 class="text-center " id="head">Open A Savings Account</h4><br>
           <h4><pre class="container text-left pb-sm-2 m-sm"><b>Personal Details </b>  </pre></h4><br>
           
           
            
                <div class="container pb-sm-3 m-sm">
                    <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()">
                        <div class="form-group mb-2">
                            <label for="title"><b>Title</b></label><br>
                            <select formControlName="title">  
                                <option value="title">Title</option>  
                                <option value="Mr">Mr.</option>  
                                <option value="Mrs">Mrs.</option>  
                                <option value="Ms">Ms.</option>  
                            </select>  
                            <br>  
            
                            <label for="FirstName"><b>FirstName</b></label>
                            <input type="text" placeholder="Enter First Name" required class="form-control" name="FirstName" formControlName="firstname"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="firstname?.errors?.required">
                              First Name is required
                            </div>
                            <div *ngIf="firstname?.errors?.minlength">
                                First Name length should be 3
                              </div>
                              <div *ngIf="firstname?.errors?.pattern">
                                Enter valid First Name
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="Middlename"><b>Middlename</b></label>
                            <input type="text" placeholder="Enter Middle Name" class="form-control" name="Middlename" formControlName="middlename"/>
                            <br>  
                        </div>
            

                        <div class="form-group mb-2">
            
                            <label for="LastName"><b>LastName</b></label>
                            <input type="text" placeholder="Enter Last Name" required class="form-control" name="LastName" formControlName="lastname"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="lastname?.errors?.required">
                              Last Name is required
                            </div>
                            <div *ngIf="lastname?.errors?.minlength">
                                Last Name length should be 3
                              </div>
                              <div *ngIf="lastname?.errors?.pattern">
                                Enter a Valid Last Name
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="FatherName"><b>FatherName</b></label>
                            <input type="text" placeholder="Enter Father Name" required class="form-control" name="FatherName" formControlName="fathername"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!fathername?.valid && (fathername?.dirty || fathername?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="fathername?.errors?.required">
                              Father's Name is required
                            </div>
                            <div *ngIf="fathername?.errors?.minlength">
                                Father's Name length should be 3
                              </div>
                              <div *ngIf="fathername?.errors?.pattern">
                                Enter a Valid Father's Name
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="Mobilenumber"><b>Mobile Number</b></label>
                            <input type="number" placeholder="Enter Mobile number" required class="form-control" name="Mobilenumber" formControlName="mobilenumber"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!mobile?.valid && (mobile?.dirty || mobile?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="mobile?.errors?.required">
                              Mobile number is required
                            </div>
                              <div *ngIf="mobile?.errors?.pattern">
                                Enter a Valid Mobile number
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="EmailId"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" class="form-control required" name="EmailId" formControlName="emailId"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="email?.errors?.required">
                              Email is required
                            </div>
                              <div *ngIf="email?.errors?.pattern">
                                Enter a Valid Email
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="Aadhar"><b>Aadhar Card Number</b></label>
                            <input type="text" placeholder="Enter Aadhar number" required class="form-control" name="Aadhar" formControlName="aadhar"/>
                            <br>  
                        </div>
            
                        <div *ngIf="!aadhar?.valid && (aadhar?.dirty || aadhar?.touched)" class="error text-danger" role="alert">
                            <div *ngIf="aadhar?.errors?.required">
                              Aadhar number is required
                            </div>
                              <div *ngIf="aadhar?.errors?.pattern">
                                Enter a Valid Aadhar number
                              </div>
                        </div>

                        <div class="form-group mb-2">
            
                            <label for="DateOfBirth"><b>Date of Birth</b></label>
                            <input type="date"  required class="form-control" name="DateOfBirth" formControlName="DateOfBirth"/>
                            <br>  
                        </div><br>
                    

            <h4><pre class="text-left pb-sm-2 m-sm"><b>Permanent Address </b>  </pre></h4>
          
             <div class="form-group mb-2">
                <label for="ResAddressLine1"><b>Address</b></label>  
            <br>  
            <textarea cols="60" rows="4" name="RAddress" value="ResAddressLine1" formControlName="resaddressline1">  
            </textarea> 
            </div>

            <div class="form-group mb-2">
            
                <label for="ResLandmark"><b>Landmark</b></label>
                <input type="text" placeholder="Enter Landmark" class="form-control required" name="ResLandmark" formControlName="reslandmark"/>
                <br>  
            </div>

            <div class="form-group mb-2">
            
                <label for="ResState"><b>State</b></label>
                <input type="text" placeholder="Enter state" class="form-control required" name="ResState" formControlName="resstate"/>
                <br>  
            </div>

            <div class="form-group mb-2">
            
                <label for="ResCity"><b>City</b></label>
                <input type="text" placeholder="Enter City" class="form-control required" name="rescity" formControlName="rescity"/>
                <br>  
            </div>
            <div class="form-group mb-2">
            
                <label for="ResPincode"><b>Pincode</b></label>
                <input type="number" placeholder="Enter pincode" class="form-control required" name="respincode" formControlName="respincode"/>
                <br>  
            </div><br>


            <h4><pre class="text-left pb-sm-2 m-sm"><b>Residential Address </b>  </pre></h4><br>
            <div class="form-group mb-2">
            <input type="checkbox"/><b>Permanent Address same as Mailing Address</b>
            </div>
            <div class="form-group mb-2">
               <label for="PerAddressLine1"><b>Address</b></label>  
           <br>  
           <textarea cols="60" rows="4" name="PerAddressLine1" value="address" formControlName="peraddressline1">  
           </textarea> 
           </div>

           <div class="form-group mb-2">
           
               <label for="PerLandmark"><b>Landmark</b></label>
               <input type="text" placeholder="Enter Landmark" class="form-control" required name="PerLandmark" formControlName="perlandmark"/>
               <br>  
           </div>

           <div class="form-group mb-2">
           
               <label for="PerState"><b>State</b></label>
               <input type="text" placeholder="Enter state" class="form-control required" name="PerState" formControlName="perstate"/>
               <br>  
           </div>

           <div class="form-group mb-2">
           
               <label for="PerCity"><b>City</b></label>
               <input type="text" placeholder="Enter City" class="form-control required" name="PerCity" formControlName="percity"/>
               <br>  
           </div>
           <div class="form-group mb-2">
           
               <label for="PerPincode"><b>Pincode</b></label>
               <input type="number" placeholder="Enter pincode" class="form-control" required name="PerPincode" formControlName="perpincode"/>
               <br>  
           </div><br>

           <h4><pre class="text-left pb-sm-2 m-sm"><b>Occupation Details</b>  </pre></h4><br>
           <div class="form-group mb-2">
            <label for="Occupationtype"><b>Occupation Type</b></label>
            <select id="occtype" name="Occupationtype" class="form-control" formControlName="OccupationType" required>
                <option value="Service">Service</option>
                <option value="Government">Government Employee</option>
                <option value="Business">Business</option>
            </select>
            <!-- <input type="text" placeholder="Enter occupation type" class="form-control required" name="occtype" formControlName="occtype"/> -->
            <br> 
           <!-- <label for="occtype"><b>Occupation Type</b></label>
            <input type="text" placeholder="Enter occupation type" class="form-control required" name="occtype" formControlName="occtype"/>
            <br> --> 
        </div>

        <div class="form-group mb-2">
        
            <label for="SourceOfIncome"><b>Source of Income</b></label>
            <input type="text" placeholder="Enter source of income" class="form-control" required name="SourceOfIncome" formControlName="SourceOfIncome"/>
            <br>  
        </div>
        <div class="form-group mb-2">
        
            <label for="GrossAnnualIncome"><b>Gross Salary Income</b></label>
            <input type="number" placeholder="Enter salary income" class="form-control" required name="GrossAnnualIncome" formControlName="GrossAnnualIncome"/>
            <br>  
        </div>
        <div class="form-group mb-2">
            <label for="BranchIfsc"><b>IFSC Code</b></label>
            <select id="BranchIfsc" name="BranchIfsc" class="form-control" name="ifsc" formControlName="BranchIfsc" required>
                <option value="Bank of Baroda">BARB0SHIPOO</option>
                <option value="UNIB0799893">UBIN0799893</option>
                <option value="IDBI Bank">IDBI0015536</option>
            </select>
            <!-- <input type="text" placeholder="Enter occupation type" class="form-control required" name="occtype" formControlName="occtype"/> -->
            <br>  
        </div>
        <h4><pre class="text-left pb-sm-2 m-sm"><b>Debit/ATM Card </b>  </pre></h4>
        <div class="form-group mb-2">
            <b>Do you want Debit card?*</b>
            </div><br>
        
            <div class="form-group mb-2">
                <input type="checkbox"/><b>I agree...</b>
                </div><br><br>
                <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="Submit" >Submit</button>
		 </form>
                </div>
        </div>
    </body>
</html>

