<div class="col-md-8 offset-md-2" >
    <span class="anchor" id="formUserEdit"></span>
    <hr class="my-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">User Information</h3>
        </div>
        
        <div class="card-body">
            <form class="form" role="form" autocomplete="off">

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">FirstName</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.firstName}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Middle Name</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.middleName}}" disabled>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last Name</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.lastName}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Father's name</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.fatherName}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Mobile Number</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.mobileNumber}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="email" value="{{userprofile.emailId}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Aadhar Card Number</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.aadhar}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Date of Birth</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.dateOfBirth | date}}" disabled>
                    </div>
                </div>


                <div class="card-header">
                    <h3 class="mb-0">Residential Address</h3>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Address</b></label>  
                    <div class="col-lg-9">
                        <textarea cols="60" rows="4" value="{{userprofile.resAddressLine1}}" disabled>   </textarea> 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Landmark</b></label>  
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.resLandmark}}" disabled>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">State</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.resState}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.resCity}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Pin Code</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.resPincode}}" disabled>
                    </div>
                </div>
                

                <div class="card-header">
                    <h3 class="mb-0">Permanent Address</h3>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Address</b></label>  
                    <div class="col-lg-9">
                       

                        <textarea cols="60" rows="4" value="{{userprofile.perAddressLine1}}" disabled>   </textarea> 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Landmark</b></label>  
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.perLandmark}}" disabled>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">State</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.perState}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.perCity}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Pin Code</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.perPincode}}" disabled>
                    </div>
                </div>


                
                <div class="card-header">
                    <h3 class="mb-0">Occupation Details</h3>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Occupation Type</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.occupationType}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Source of Income</label>
                    <div class="col-lg-9">
                        
                        <input class="form-control" type="text" value="{{userprofile.sourceOfIncome}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Gross Salary Income</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.grossAnnualIncome}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Branch IFCS Code</label>
                    <div class="col-lg-9">
                       
                        <input class="form-control" type="text" value="{{userprofile.branchIfsc}}" disabled>
                    </div>
                </div>
                
               <!--  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9"> 
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" value="Save Changes">
                     </div> 
                </div> -->
            </form>
        </div>
    </div>
    <br><br>
    <!-- /form user info -->

</div>