<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
    <h2>Forgot User ID</h2>
    <h3>Enter Details</h3>
<form [formGroup]="ForgotUserIdForm" (ngSubmit)="sumbitInfo()" class="formgroup">
  <div>  
    <label for="AccountNumber">Enter Account Number</label>
    <input type="number" id="AccountNumber" name="AccountNumber" class="form-control" formControlName="AccountNumber"/>
</div>
<div *ngIf="!AccountNumber ?.valid && (AccountNumber ?.dirty || AccountNumber ?.touched)" class="error">
<div *ngIf="AccountNumber!.errors!.required">
  Account Number is required
</div>
</div>


<div>
  <button (click)="Redirect()" class="btn btn-primary" [disabled]="!ForgotUserIdForm.valid">Proceed</button>
    <!-- <input type="submit" value="Proceed" class="btn btn-primary" [disabled]="!ForgotUserIdForm.valid"/>  -->
    <input type="submit" value="back" class="btn btn-danger" />
</div>

</form>
    </div>
  </div>
</div>