<div class="box">
    <p class="heading">Frequently Asked Questions</p>
    <div class="faqs">
        <details>
            <summary>How can I Register for Net Banking?</summary>
            <p class="text">click on 'Register for Internet banking' on the home page.It will redirect you to the related form. </p>
        </details>
        <details>
            <summary>How can I get the Account statement?</summary>
            <p class="text">After loging in successfully, in the Dashboard click on the 'Account statement' option to have account statement </p>
        </details>
        <details>
            <summary>why is the session expiring ?</summary>
            <p class="text">Unauthorized attempts of navigation trigers the session to expire.Also multiple failures of login also results session expiry</p>
        </details>
        <details>
            <summary>What should I do if the session is expired?</summary>
            <p class="text">Please wait for few Minutes and try loging in again</p>
        </details>
        <details>
            <summary>How to create new Account?</summary>
            <p class="text">Click on the 'New account' button on the home page.It will redirect you to the application
                form.</p>
        </details>
        <details>
            <summary>I forgot my User ID.What should i do?</summary>
            <p class="text">Click on 'Forgot UserID' in login page to get your User ID to your registered Email ID</p>
        </details>
        <details>
            <summary>I forgot my password.What should I do now?</summary>
            <p class="text">Click the forgot password option.Then you can reset your password using your mail id.</p>
        </details>
        <details>
            <summary>Can I track my account approval status?</summary>
            <p class="text">Yes,you can using 'Track Application' at [LINK]</p>
        </details>
    </div>
</div>