<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
    <h2 class="">Forgot Password</h2>
    <h3>Enter Details</h3>
<form [formGroup]="ForgotPasswordForm" (ngSubmit)="sumbitInfo()" class="form-group">
  <div>  
    <label for="CustomerId">Enter User ID</label>
    <input type="number" id="CustomerId" name="CustomerId" class="form-control" formControlName="CustomerId"/>
</div>
<div *ngIf="!CustomerId ?.valid && (CustomerId ?.dirty || CustomerId ?.touched)" class="error">
<div *ngIf="CustomerId!.errors!.required">
  Account Number is required
</div>

</div>
<div>
  <button (click) ="Redirect()" class="btn btn-primary" value="Proceed" [disabled]="!ForgotPasswordForm.valid">Proceed</button>
    <!-- <input type="submit" class="btn btn-primary" value="Proceed" [disabled]="!ForgotPasswordForm.valid"/> -->
    <input type="submit" class="btn btn-danger" value="back" />
</div>

</form>
    </div>
  </div>
</div>