<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
    <h2 class="">Forgot Password</h2>
    <h3>Enter Details</h3>
<form [formGroup]="ForgotPasswordForm" (ngSubmit)="sumbitInfo()" class="form-group">
    <div>  
        <label for="userId">Enter User ID</label>
        <input type="text" id="userId" name="userId" class="form-control" formControlName="userId"/>
   </div>
   <div *ngIf="!userId ?.valid && (userId ?.dirty || userId ?.touched)" class="error">
    <div *ngIf="userId!.errors!.required">
      Account Number is required
    </div>
    
</div>
<div>
    <div>  
        <label for="OTP">Enter OTP</label>
        <input type="text" id="OTP" name="OTP" class="form-control" formControlName="OTP"/><br>
   </div>
   <div *ngIf="!OTP ?.valid && (OTP ?.dirty || OTP?.touched)" class="error">
    <div *ngIf="OTP!.errors!.required">
      OTP is required
    </div>
    <div *ngIf="OTP!.errors!.minlength">
        OTP should have atleast 6 characters
      </div>
</div>
</div>
<div>
  <button (click) ="Redirect()" class="btn btn-primary" value="Proceed" [disabled]="!ForgotPasswordForm.valid">Proceed</button>
    <!-- <input type="submit" class="btn btn-primary" value="Proceed" [disabled]="!ForgotPasswordForm.valid"/> -->
    <input type="submit" class="btn btn-danger" value="back" />
</div>

</form>
    </div>
  </div>
</div>