<div class="container d-flex justify-content-center">
    
   
    
    <table class="table" >
        <thead>
            <tr>
          
              <th>Transaction ID</th>
              
              <th>To Account</th>
              <th>Amount</th>
              <th>From Account</th>
             <th>Transaction Date And Time</th>
              <th>Remarks</th>

            </tr>
          </thead>
          <tbody>
              
              <tr>
                <td>{{transactions.transactionId}}</td>
                
                <td>{{transactions.toAccount}}</td>
                <td>{{transactions.amount}}</td>
                <td>{{transactions.fromAccount}}</td>
                <td>{{transactions.date }}</td>
                <td>{{transactions.remarks}}</td>
                
                
            </tr>
          </tbody>
    
    </table>
</div>