<div class="bg-white" id="lwhole">
    <h4 class="text-center" id="head">NEFT Transfer</h4>
    <div class="container pb-sm-3 m-sm">

<form [formGroup]="NEFTForm" (ngSubmit)="Redirect()" >

    <div class="form-group mb-2">
        <!-- <label for="id">Transaction ID</label> -->
        <input type="hidden" id="id" name="TransactionID"  class = "form-control" formControlName="TransactionID" value="{{this.transactionid}}"/>
        <br>  
    </div>
   
    <div class="form-group mb-2">
        <label for="fAcnt">From Account</label>
        <input type="number" id="fAcnt" name="FromAccount" class = "form-control" formControlName="FromAccount" readonly/>
        <br>  
    </div>
    <div class="form-group mb-2">
        <label for="beneficiary" class="form-label">To Account</label>
        <select  id="beneficiary" name="ToAccount" class="form-control" formControlName="ToAccount" required>
                <option *ngFor="let i of beneficiaries" [value]="i.toAccount">{{i.benificiaryName}} - {{i.toAccount}}</option> >
  
        </select>
        <button class="btn btn-primary bg-primary mb-4 form-inline"(click)="AddPayee()">Add New<small>+</small></button>
        <br>  
    </div>
    
    <div class="form-group mb-2">
        <label for="amt" class="form-label">Amount</label>
        <input type="number" id="Amt" name="Amount" class="form-control" formControlName="Amount"/>
        <br>  
    </div>
    
    
    <div class="form-group mb-2">
        <label for="tpass" class="form-label">Transaction Password</label>
        <input type="text" id="tpass" name="Tpassword" class="form-control" formControlName="Tpassword"/>
        <br>  
    </div>

    <div class="form-group mb-2">
        <label for="mtinst" class="form-label">Maturity Instructions</label>
        <input type="text" id="mtinst" name="MaturityInstructions" class="form-control" formControlName="MaturityInstructions"/>
        <br>  
    </div>

    <div class="form-group mb-2">
        <label for="remark" class="form-label">Remark</label>
        <input type="text" id="remark" name="Remarks" class="form-control" formControlName="Remarks"/>
        <br>  
    </div>
    <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="submit" [disabled]="!NEFTForm.valid">Continue</button>
</form>
</div>
</div>



