<div class="bg-white" id="lwhole">
    <h4 class="text-center" id="head">Login to your Account</h4>
    <div class="container pb-sm-3 m-sm">
        <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()">
            <div class="form-group mb-2">

                <label for="uname"><b>User ID</b></label>
                <input type="text" placeholder="Enter User ID" class="form-control" name="uname" formControlName="username"/>
                <br>  
            </div>

            <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="error text-danger" role="alert">
                <div *ngIf="username?.errors?.required">
                  User Name is required
                </div>
                <div *ngIf="username?.errors?.minlength">
                    User Name length should be 6
                  </div>
            </div>


            <div class="form-group mb-2">
                <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" class="form-control" name="psw" formControlName="password"  />
    <br>
            </div>

            <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="error text-danger" role="alert">
                <div *ngIf="password?.errors?.required"><!--here the name firstname is from get method that is inside the ts file-->
                  Password is required
                </div>
                <div *ngIf="password?.errors?.pattern">
                    Password pattern not macthing
                  </div>
            </div>

            <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="Submit" (click)="SubmitRedirect()">Login</button>
            <div class="panel panel-default bg-light">
                <div class="col-md-12 text-center pr-sm-4 pt-sm-4">
                    <a href="/OpenAccount">First Time User? Register</a>
                </div>
                <div class="col-md-12 text-center pr-sm-4 pt-sm-4">
                    <a href="/ForgotUserID">Forgot User ID?</a>
                </div>
                <div class="col-md-12 text-center pr-sm-4 pt-sm-4">
                    <a href="/ForgotPassword">Forgot Password?</a>
                </div>

            </div>
        </form>
    </div>
</div>
