<div class="col-md-8 offset-md-2">
    <span class="anchor" id="formUserEdit"></span>
    <hr class="my-5">

    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">You Have been Logged out</h3>
        </div>

        <div class="card-body">
            <form class="form" role="form" autocomplete="off">
                <div class="form-group row">
                    <label class="navbar-brand">Session Exipred</label>
                    <!-- <div class="col-lg-9">
                        <input class="form-control" type="text" value="510000152244">
                    </div> -->
                </div>

                <div class="form-group row">
                    <label class="navbar-brand">Last Logged in-</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="13-09-2021 12:14:23" disabled>
                    </div>
                </div>

                
              
                    <label class ="navbar-brand">Suggestions- 
                        For Security Reasons we have disabled back button
                    </label> <br>
                   
                        <a href="Login" class ="navbar-brand" value="">Click here to go login page</a>
                   
              
            </form>
        </div>
</div>
