


<div class="container d-flex justify-content-center">
  
    <table class="table">
        <thead>
            <tr>
                <th></th>
              <th>Benificiary Name</th>
              <th>Account Number</th>
              
              <th>Nick Name</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                 <tH><input type="radio" /></tH> 
                  <th><input></th>
                 <th><input></th> 
                 <th><input></th> 
              </tr>
          </tbody>
    
    </table>
</div>


