


<div class="container d-flex justify-content-center">
  
    <table class="table">
        <thead>
            <tr>
                
              <th>Benificiary Name</th>
              <th>Account Number</th>
              <th>IFSC Code</th>
              <th>Nick Name</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor= 'let i of beneficiaries'>
                  
                  <td>{{i.benificiaryName}}</td>
                 <td>{{i.toAccount}}</td> 
                 <td>{{i.ifsccode}}</td>
                 <td>{{i.nickName}}</td> 
              </tr>
          </tbody>
    
    </table>
</div>


