<div class="col-md-8 offset-md-2">
    <span class="anchor" id="formUserEdit"></span>
    <hr class="my-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Account Summary</h3>
        </div>
      
        
        <div class="card-body">
            <table class="table" >
                <tr>
                        <th>Account Holder Name</th>
                        <td>{{AccountDetails.userName}}</td>
                </tr>
                <tr>
                        <th>Account Number</th>
                        <td>{{AccountDetails.accountNumber}}</td>
                </tr>
                <tr>
                  <th>customer ID</th>
                  <td>{{AccountDetails.customerId}}</td>
          </tr>
                <tr>
                        <th>Balance</th>
                        <td>{{AccountDetails.balance}}</td>
                      </tr>
                </table>
            <!-- <form class="form" role="form" autocomplete="off">

                 
                <div class="form-group row">
                    
                    <label class="col-lg-3 col-form-label form-control-label">Account Holder Name</label>
                    <div class="col-lg-9">
                        {{AccountDetails.userName}}
                         <input class="form-control" type="text" value="{{AccountDetails.userName}}" formcontrolname="accountnumber" disabled/> -->
                    <!-- </div>
                </div>
            
                <div class="form-group row">
                    
                    <label class="col-lg-3 col-form-label form-control-label">Account Number</label>
                    <div class="col-lg-9">
                        {{AccountDetails.accountNumber}}
                         <input class="form-control" type="text" value="{{AccountDetails.accountNumber}}" formcontrolname="accountnumber" disabled/> -->
                    <!-- </div>
                </div>
           
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Customer ID</label>
                    <div class="col-lg-9">
                        {{AccountDetails.customerId}} -->
                        <!-- <input class="form-control" type="text" value="{{AccountDetails.customerId}}" formcontrolname="accountnumber" disabled/> -->
                    
                  <!--   </div>
                </div>
            
                <div class="form-group row">
                    
                    <label class="col-lg-3 col-form-label form-control-label">Balance</label>
                    <div class="col-lg-9">
                        {{AccountDetails.balance}}
                         <input class="form-control" type="text" value="{{AccountDetails.balance}}" formcontrolname="balance" disabled/> -->
                   <!--  </div>
                </div>
                 
            
              
            </form> 
 -->
        </div>
        
    </div>
    <br> <br>
    <!-- /form user info -->

</div>