<div class="col-md-8 offset-md-2">
    <span class="anchor" id="formUserEdit"></span>
    <hr class="my-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Account Summary</h3>
        </div>
      
        
        <div class="card-body">
            <form class="form" role="form" autocomplete="off">

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Account Number</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="510000152244">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Balance</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="50000">
                    </div>
                </div>
                
                <div class="card-header">
                    <h4 class="mb-0">Recent Transactions</h4>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Transaction 1</b></label>  
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"><b>Transaction 2</b></label>  
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
              
            </form>

        </div>
    </div>
    <!-- /form user info -->

</div>