<div class="bg-white" id="lwhole">
    <h4 class="text-center" id="head">Admin</h4>
    <div class="container pb-sm-3 m-sm">
        <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()">
            <div class="form-group mb-2">

                <label for="id"><b>AdminID</b></label>
                <input type="number" placeholder="Enter User ID" class="form-control" name="id" formControlName="id"/>
                <br>  
            </div>

            <div *ngIf="!id?.valid && (id?.dirty || id?.touched)" class="error text-danger" role="alert">
                <div *ngIf="id?.errors?.required">
                  User Name is required
                </div>
                <div *ngIf="id?.errors?.minlength">
                    User Name length should be 6
                  </div>
            </div>


            <div class="form-group mb-2">
                <label for="psw"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" class="form-control" name="psw" formControlName="password"  />
    <br>
            </div>

            <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="error text-danger" role="alert">
                <div *ngIf="password?.errors?.required"><!--here the name firstname is from get method that is inside the ts file-->
                  Password is required
                </div>
                <div *ngIf="password?.errors?.pattern">
                    Password pattern not macthing
                  </div>
            </div>

            <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="Submit">Login</button>
            
        </form>
    </div>
</div>
