<div class="bg-white" id="lwhole">
    <h4 class="text-center" id="head">IMPS Transfer</h4>
    <div class="container pb-sm-3 m-sm">

<form [formGroup]="IMPSForm" (ngSubmit)="Redirect()" >

    <div class="form-group mb-2">
        <label for="id">Transaction ID</label>
        <input type="number" id="id" name="TransactionID"  class = "form-control" formControlName="TransactionID" />
        <br>  
    </div>
    
    <div class="form-group mb-2">
        <label for="fAcnt">From Account</label>
        <input type="number" id="fAcnt" name="FromAccount" class = "form-control" formControlName="FromAccount"/>
        <br>  
    </div>
    <div class="form-group mb-2">
        <label for="beneficiary" class="form-label">To Account</label>
        <select  id="beneficiary" name="ToAccount" class="form-control" formControlName="ToAccount" required>
                <option *ngFor="let i of beneficiaries" [value]="i.toAccount">{{i.toAccount}}</option> 
           
           
            <!-- <option value="UNIB0799893">UBIN0799893</option>
            <option value="IDBI Bank">IDBI0015536</option> -->
            
        </select>
        <button class="btn btn-primary bg-primary mb-4 form-inline"(click)="AddPayee()">Add New<small>+</small></button>
        <br>  
    </div>
    
    <div class="form-group mb-2">
        <label for="amt" class="form-label">Amount</label>
        <input type="number" id="Amt" name="Amount" class="form-control" formControlName="Amount"/>
        <br>  
    </div>
    
    <div class="form-group mb-2">
        <label for="tDate" class="form-label">Transaction Date</label>
        <input type="date" id="tDate" name="Date" class="form-control" formControlName="Date"/>
        <br>  
    </div>

    <div class="form-group mb-2">
        <label for="mtinst" class="form-label">Maturity Instructions</label>
        <input type="text" id="mtinst" name="MaturityInstructions" class="form-control" formControlName="MaturityInstructions"/>
        <br>  
    </div>

    <div class="form-group mb-2">
        <label for="remark" class="form-label">Remark</label>
        <input type="text" id="remark" name="Remarks" class="form-control" formControlName="Remarks"/>
        <br>  
    </div>
    <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="submit" [disabled]="!IMPSForm.valid">Continue</button>
</form>
</div>
</div>
<!--
<h2 style="text-align:center;">IMPS Transfer</h2>
<br>
<div class="d-flex justify-content-center">
<form [formGroup]="IMPSForm" >
    <table>
        <tr>
            <td><label for="fAcnt">From Account</label></td>
            <td><input type="number" id="fAcnt" name="FromAccount" formControlName="FromAccount"/></td>
        </tr>
        <tr>
            <td><label for="tAcnt">To Account</label></td>
            <td><input type="number" id="tAcnt" name="ToAccount" formControlName="ToAccount"/></td>
            <td><button (click)="AddPayee()">Add New<small>+</small></button></td>
        </tr>
        <tr>
            <td><label for="amt">Amount</label></td>
            <td><input type="number" id="Amt" name="Amount" formControlName="Amount"/></td>
        </tr>
        <tr>
            <td><label for="tDate">Transaction Date</label></td>
            <td><input type="date" id="tDate" name="TransactionDate" formControlName="TransactionDate"/></td>
        </tr>
        <tr>
            <td><label for="mtinst">Maturity Instructions</label></td>
            <td><input type="text" id="mtinst" name="MaturityInstructions" formControlName="MaturityInstructions"/></td>
        </tr>
        <tr>
            <td><label for="remark">Remark</label></td>
            <td><input type="text" id="remark" name="Remark" formControlName="Remark"/></td>
        </tr>
        <br>
        <tr>
            <td colspan="2"  style="text-align:center;">
                <button (click)="Redirect()">
                <input type="submit" value="Save " [disabled]="!IMPSForm.valid"/></button>
                <input type="reset" value="Reset"/>
                <input type="submit" value="Save as template"/>
                <input type="submit" value="Continue"/>
           </td>
        </tr>
    </table>
</form>
</div>
-->