
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
           
            
          </li>
          <li class="nav-item">
            <a [routerLink]="" class="btn btn-default navbar-text" (click)='logout()' role="button">Logout</a>
            <!-- <a [routerLink]="" (click)='logout()'>Logout</a>  -->
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

<h3 class="center">Welcome Admin</h3><br>


<table class="table">
    <thead>
        <tr>
            <th>
                NAME
            </th>
            <th>
                EMAIL
            </th>
            <th>
                PHONE NUMBER
            </th>
           
            <th>
                REFERENCE NUMBER
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let user of userprofile">
          <td>{{user.firstName}}</td>
          <td>{{user.emailId}}</td>
          <td>{{user.mobileNumber}}</td>
          <td>{{user.referenceNumber}}</td>
          <td>{{user.accountStatus}}</td>
          <td>
            <button class="btn btn-primary bg-primary mb-4 form-inline" type="Submit"  (click)="submitinfo(user)">Approve status</button>
             
          </td>
      </tr>
      </tbody>

    
</table>

