

<div class="navHead">

<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand"><h4>Welcome {{account.userName}}</h4></a>
        <!-- <ul class="nav navbar-nav my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="Login" (click)='logout()'><i class="fas fa-user"></i>LogOut</a></li>
       </ul> -->
        <!-- <div class="pull-right">
           <div class="btn-group">
            <a href="Login" (click)='logout()'>LogOut</a>
            </div>
        </div> -->
    </nav>
</div>



<div class="col-md-8 offset-md-2">
    <span class="anchor" id="formUserEdit"></span>
    <hr class="my-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Account Summary</h3>
        </div>
      
        
        <div class="card-body">
            <table class="table" >
                <tr>
                        <th>Account Holder Name</th>
                        <td>{{AccountDetails.userName}}</td>
                </tr>
                <tr>
                        <th>Account Number</th>
                        <td>{{AccountDetails.accountNumber}}</td>
                </tr>
                <tr>
                  <th>customer ID</th>
                  <td>{{AccountDetails.customerId}}</td>
          </tr>
                <tr>
                        <th>Balance</th>
                        <td>{{AccountDetails.balance}}</td>
                      </tr>
                </table>
            <!-- 
 -->
        </div>
        
    </div>
    <br> <br>
  

</div>






</div>


    
