

<div class="navHead">
    <!-- <div class="logo" style="text-align: center;">
        <h2>Dashboard</h2>
    </div> -->

<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand"><h3>Welcome  {{account.userName}}:{{customerid}}</h3></a>
        <!-- <ul class="nav navbar-nav my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="Login" (click)='logout()'><i class="fas fa-user"></i>LogOut</a></li>
       </ul> -->
        <!-- <div class="pull-right">
           <div class="btn-group">
            <a href="Login" (click)='logout()'>LogOut</a>
            </div>
        </div> -->
    </nav>
</div>

<div>
    <nav>
        <ul class="navbar navbar-expand bg-info navbar-dark" >
          <a href="AccountDetails" class="navbar-brand">Account Details</a>
          <a href="AccountSummary" class="navbar-brand" status="active">Account Summary</a>
           <a href="FundsTransfer" class="navbar-brand" >Funds Transfer</a>
           <a href="AccountStatement" class="navbar-brand">Account Statement</a>
            <a href="SetNewPassword" class="navbar-brand">Change User's Password</a>
            <a href="SessionExpired" class ="navbar-brand">Session Expired</a>
        </ul>	
  </nav>
</div>

<!-- <div class="navFoot" >
    <p>© 2020 Larsen & Toubro Infotech Limited</p>
</div -->

</div>

    
