


<div class="container d-flex justify-content-center">
  <form [formGroup]="Searchform">
    <label for="fromdate">FromDate</label>
    <input type="date" id="fromdate" name="fromdate" formControlName="Fromdate"/>
    <label for="fromdate">ToDate</label>
    <input type="date" id="todate" name="todate" formControlName="Todate"/>
    <button (click)="search()">Search</button>
  </form>
 
  
    <table class="table" >
        <thead>
            <tr>
              <th>Select</th>
              <th>Transactiond ID</th>
              <th>From Account</th>
              <th>To Account</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Transaction Type</th>
              <th>Maturity Instructions</th>
              <th>Remarks</th>

            </tr>
          </thead>
          <tbody>
              
              <tr *ngFor = "let i of transactions">
                <td><input type="radio" /></td> 
                <td>{{i. transactionId}}</td>
                <td>{{i.fromAccount}}</td>
                <td>{{i.toAccount}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.date | date}}</td>
                <td>{{i.transactionType}}</td>
                <td>{{i.maturityInstructions}}</td>
                <td>{{i.remarks}}</td>
                
                
            </tr>
          </tbody>
    
    </table>
</div>

