<form [formGroup]="Searchform">
<div class="row" style="margin-top:10px;margin-bottom: 10px;">    
  <div class="col-sm-3 form-group">  </div>  


  
  <div class="col-sm-3 form-group"> 
    <label for="fromdate" class="form-group">FromDate: </label>
  <input type="date" id="fromdate" name="fromdate" placeholder="FromDate" formControlName="Fromdate"/>
  </div>

 
  <div class="col-sm-3 form-group"> 
    <label for="todate" class="form-group">ToDate: </label>
  <input type="date" id="todate" name="todate" placeholder="ToDate" formControlName="Todate"/>
  </div>
  <div class="col-sm-3 form-group">   
  <button (click)="search()"  class="btn btn-success">Search</button>
</div>

</div>
</form>

<div class="container d-flex ">
  
 
  
    <table class="table" >
        <thead>
            <tr>
             
              <th>Transactiond ID</th>
              <th>From Account</th>
              <th>To Account</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Transaction Type</th>
              <th>Maturity Instructions</th>
              <th>Remarks</th>
              <th>ClosingBalance</th>

            </tr>
          </thead>
          <tbody>
              
              <tr *ngFor = "let i of transaction">
                
                <td>{{i. transactionId}}</td>
                <td>{{i.fromAccount}}</td>
                <td>{{i.toAccount}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.date | date}}</td>
                <td>{{i.transactionType}}</td>
                <td>{{i.maturityInstructions}}</td>
                <td>{{i.remarks}}</td>
                <td *ngIf ="i.fromAccount==this.accountno;else elseblock">
                  {{i.closingBalance}}
                </td>
                <ng-template #elseblock>
                  <td>{{i.toClosingBalance}}</td>
                </ng-template>
                
                
            </tr>
          </tbody>
    
    </table>
</div>

