<div class="bg-white" id="lwhole">
    <h4 class="text-center" id="head">Add new Benificiary</h4>
    <div class="container pb-sm-3 m-sm">

<form [formGroup]="AddPayeeForm" (ngSubmit)="Redirect()" >
    
    <div class="form-group mb-2">
        <label for="bname" class="form-label">Benificiary Name</label>
        <input type="text" id="bname" name="BenificiaryName" class="form-control"   formControlName="BenificiaryName"/>
        <br>  
    </div>
    <div class="form-group mb-2">
        <label for="ToAccount" class="form-label">Account Number</label>
        <input type="number" id="ToAccount" name="ToAccount" class="form-control" formControlName="ToAccount"/>
        <br>  
    </div>

    <div class="form-group mb-2">
       
        <input type="hidden" name="FromAccount" class="form-control"   formControlName="FromAccount"  />
        <br>  
    </div>

    <div class="form-group mb-2">
        <label for="racntno" class="form-label">Re-enter Account Number</label>
        <input type="number" id="racntno" name="RAccountNumber" class="form-control"   formControlName="RAccountNumber"/>
        <br>  
    </div>
    <div *ngIf="AddPayeeForm.controls['RAccountNumber'].invalid && (AddPayeeForm.controls['RAccountNumber'].dirty || AddPayeeForm.controls['RAccountNumber'].touched)" class="alert">
        <div *ngIf="AddPayeeForm.controls['confirmPassword'].errors!.required">
        Please confirm Login Password
      </div>
   
   
   
    </div>
    <div class="form-group mb-2">
        <label for="ifsccode" class="form-label">IFSC Code</label>
        
        <!-- <input type="text" id="ifsccode" name="ifsccode" class="form-control"   formControlName="IFSCCode"/> -->
        <select  id="bank" name="ifsccode" class="form-control" formControlName="IFSCCode" required>
            <option *ngFor="let i of bank" [value]="i.ifsccode">{{i.bankName}} - {{i.branchName}}</option> 
       
       
        <!-- <option value="UNIB0799893">UBIN0799893</option>
        <option value="IDBI Bank">IDBI0015536</option> -->
        
    </select>
        <br>  
    </div>
    <div class="form-group mb-2">
        <label for="bname" class="form-label">Nick Name</label>
        <input type="text" id="nname" name="NickName" class="form-control"  aria-describedby="inputFieldHelp" formControlName="NickName"/>
        <br>  
    </div>
    <button class="btn btn-primary btn-block bg-primary mb-4 form-inline" type="Submit"  [disabled]="!AddPayeeForm.valid">Save as Benificiary</button>
</form>
</div>
</div>
    