<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
    <h2>Set New Password</h2>
    <form [formGroup]="SetNewPasswordForm" class="form-group" (ngSubmit)="submitInfo()">
      <div>  
        <label for="AccountNumber">Enter Account Number</label>
        <input type="number" id="AccountNumber" name="AccountNumber" class="form-control" formControlName="AccountNumber"/>
    </div>

<div>
  <div *ngIf="!SetNewPasswordForm.controls['AccountNumber'] ?.valid && (SetNewPasswordForm.controls['AccountNumber'] ?.dirty || SetNewPasswordForm.controls['AccountNumber'] ?.touched)" class="error">
    <div *ngIf="SetNewPasswordForm.controls['AccountNumber']!.errors!.required">
      Account Number is required
    </div>
    </div>
  <div>
    <label for="Password">Login Password</label>
    <input type="password" name="Password" id="Password" class="form-control" formControlName="Password">
</div>
<div *ngIf="SetNewPasswordForm.controls['Password'].invalid && (SetNewPasswordForm.controls['Password'].dirty || SetNewPasswordForm.controls['Password'].touched)" class="alert">
    <div *ngIf="SetNewPasswordForm.controls['Password'].errors!.required">
    Please enter Login Password
  </div>
  <div *ngIf="SetNewPasswordForm.controls['Password'].errors!.pattern">
    <ul>
      <li> must be eight characters or longer </li>
      <li> must contain at least 1 lowercase</li>
      <li> must contain at least 1 uppercase</li>
       <li> contain at least 1 special character</li>
   </ul>
  </div>
</div>
<div>


            <label for="confirmPassword">Confirm Login Password</label>
            <input type="pas" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        </div>
        <div *ngIf="SetNewPasswordForm.controls['confirmPassword'].invalid && (SetNewPasswordForm.controls['confirmPassword'].dirty || SetNewPasswordForm.controls['confirmPassword'].touched)" class="alert">
            <div *ngIf="SetNewPasswordForm.controls['confirmPassword'].errors!.required">
            Please confirm Login Password
          </div>
       
       
       
        </div>
        
        <div>  
          <label for="OTP">Enter OTP</label>
          <input type="text" id="OTP" name="OTP" class="form-control" formControlName="OTP"/><br>
     </div>


     <div *ngIf="!SetNewPasswordForm.controls['OTP'] ?.valid && (SetNewPasswordForm.controls['OTP'] ?.dirty || SetNewPasswordForm.controls['OTP']?.touched)" class="error">
      <div *ngIf="SetNewPasswordForm.controls['OTP']!.errors!.required">
        OTP is required
      </div>
      <div *ngIf="SetNewPasswordForm.controls['OTP']!.errors!.minlength">
          OTP should have atleast 6 characters
        </div>

        
  </div>
  </div>
  <div>
    <button (click)="submitInfo()">
      <input type="submit" value="Submit" class="btnbtn-primary" [disabled]="!SetNewPasswordForm.valid"/></button>
  </div>



    </form>
    </div></div>
</div>