<div class="container">
  <div class="row">

    <div class="col-sm-8 offset-sm-2">
    <h2>Set New Password</h2>
    <form [formGroup]="SetNewPasswordForm" class="form-group" (ngSubmit)="submitInfo()">
        <div>
            <label for="loginPassword">Login Password</label>
            <input type="password" name="loginPassword" id="loginPassword" class="form-control" formControlName="loginPassword">
        </div>
        <div *ngIf="SetNewPasswordForm.controls['loginPassword'].invalid && (SetNewPasswordForm.controls['loginPassword'].dirty || SetNewPasswordForm.controls['loginPassword'].touched)" class="alert">
            <div *ngIf="SetNewPasswordForm.controls['loginPassword'].errors!.required">
            Please enter Login Password
          </div>
          <div *ngIf="SetNewPasswordForm.controls['loginPassword'].errors!.pattern">
            <ul>
              <li> must be eight characters or longer </li>
              <li> must contain at least 1 lowercase</li>
              <li> must contain at least 1 uppercase</li>
               <li> contain at least 1 special character</li>
           </ul>
          </div>
        </div>
        <div>
            <label for="confirmPassword">Confirm Login Password</label>
            <input type="pas" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        </div>
        <div *ngIf="SetNewPasswordForm.controls['confirmPassword'].invalid && (SetNewPasswordForm.controls['confirmPassword'].dirty || SetNewPasswordForm.controls['confirmPassword'].touched)" class="alert">
            <div *ngIf="SetNewPasswordForm.controls['confirmPassword'].errors!.required">
            Please confirm Login Password
          </div>
        </div>
        <div>
          <button (click)="Redirect()">
            <input type="submit" value="Submit" class="btnbtn-primary" [disabled]="!SetNewPasswordForm.valid"/></button>
        </div>

    </form>
    </div></div>
</div>